<mat-toolbar color="primary">
    <span>CRUD Application</span>
    <span class="example-spacer"></span>

    <button mat-raised-button (click)="openAddEmpForm()">
        Add Employee
    </button>
  </mat-toolbar>


  <table>
  <thead>
    <tr>
      <th>Fisrt Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Date of Birth</th>
      <th>Gender</th>
      <th>Education</th>
      <th>Company</th>
      <th>Experience</th>
      <th>Package</th>
      <th> Action </th>

      <!-- Add more columns as needed -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tmp of temp">
      <td >{{ tmp.firstname }}</td>
      <td>{{ tmp.lastname }}</td>
      <td>{{ tmp.email }}</td>
      <td>{{ tmp.dob | date }}</td>
      <td>{{ tmp.gender }}</td>
      <td>{{ tmp.education }}</td>
      <td>{{ tmp.company }}</td>
      <td>{{ tmp.experience }} Yrs</td>
      <td>{{ tmp.package | currency:'INR'}} L</td>
      <td>
        <button class="b1" (click)="editEmp(tmp)">Edit</button>
        <button class="b2" (click)="delEmp(tmp.firstname)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

